* {
	padding: 0;
	margin:0;
}
header {
	background: #2f4bad;
	/*height: 50px;*/
}
.container {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	align-items: center;

}

div .navegacion {
	display: flex;
	list-style: none;
	margin: 20px;
}
div nav a {
	margin-right: 20px;
	color:white;
	text-decoration: none;
	font-size: 15px;
	font-family: "helvetica";

}
i {
	font-size: 20px;
	margin-right: 10px;
	color:black;
	border-radius: 50%;
	background: white;
	padding: 10px;
}

.item {

}
.cabecera {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
div a {
	color: #02a8e2;
	font-size: 30px;
	text-decoration: none;
	margin-left: 10px;
	padding-right: 30px;
	margin-top: 5px; 

}
.navegacion2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.navegacion2 a {
	height: 60px;
	border-top: 4px solid #dfdfdf; 
	font-size: 14px;
	padding-top: 10px;
}